certifi==2021.5.30
chardet==4.0.0
click==8.1.7
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
fonttools==4.38.0
idna==2.10
Jinja2==3.0.1
kiwisolver==1.4.4
MarkupSafe==2.0.1
matplotlib
mysqlclient==2.2.4
numpy==1.24.2
packaging==23.0
pandas==2.0.3
Pillow
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
reportlab
requests==2.25.1
scipy==1.10.1
six==1.16.0
spark-parser==1.8.9
tkdesigner
tzdata==2023.3
uncompyle6==3.9.0
urllib3==1.26.6
xdis==6.0.5
