<head>
    <title>About SoilReport Lab</title>
</head>

<div id="about-message">

        <p>Soil Report Lab is a Soil Classification Web App built using python programming language 
        <p>and deployed on the web using the flask framework and other frontend technologies such as: HTML, CSS, and JavaScript</p>
        <p>Users can upload parameters from a sieve analysis test like: sieve size, cumulative percent retained, and percentage</p>
        <p>passing. These parameters will be retrieved from an excel file in csv format. Alternatively, users can enter these</p>
        <p>parameters manually. Liquid limit and plastic limit can only be entered manually by the user.</p>
        <p>The  data entered will be used to classify soils based on AASHTO and USCS classification.</p>
        <p>The app will display graph of the soil gradation curve based on the parameters provided</p>
        <p>Also there will be an additional feature so save a soil report in PDF file format</p>
</div>